<f:layout name="Default"/>
<f:section name="Main">
	<div id="homeSlideShow">
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
	</div>
	<div id="homeAgenda">
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}"/>
	</div>
	<div id="homeNews">
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
	</div>
	<div id="homeMedias">
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}"/>
	</div>

</f:section>
